<h1>Owner Information</h1>
<form [formGroup]="ownerForm" (ngSubmit)="saveOwner()">
    <input type="hidden" name="id" formControlName="id" >
    <table>
        <tr>
            <td>
                <label for="name">Name</label><br />
                <input type="text" id="name" [readonly]="ownerId > 0" formControlName="name" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="address">Address</label><br />
                <input type="text" id="address" [readonly]="ownerId > 0" formControlName="address" />
            </td>
        </tr>
        <tr>
            <td>
                <div><label for="phone">Phone</label><br />
                    <input type="text" id="phone" [readonly]="ownerId > 0" formControlName="phone" />
                </div>
            </td>
            <td>
                <div><label for="email">Email</label><br />
                    <input type="text" id="email" [readonly]="ownerId > 0" formControlName="email" />
                </div>
            </td>
        </tr>
        <tr>
            <td><input *ngIf="ownerId == 0" type="submit" value="Save" /></td>
        </tr>
        <tr>
            <td><a *ngIf="ownerId > 0 && !isPetForm" (click)="resetPetForm()"><u>Add a Pet</u></a>
            </td>
        </tr>
    </table>
</form>

<form [formGroup]="petForm" (ngSubmit)="savePet()">
    <table *ngIf="pets.length > 0 || isPetForm">
        <tr><br></tr>
        <tr>
            <th>Pet Name</th>
            <th>Type of Pet</th>
            <th>Breed</th>
            <th>DOB</th>
            <th></th>
        </tr>
        <tr *ngFor="let pet of pets">
            <td><a routerLink="/petVisit/{{pet.id}}" skipLocationChange="true">{{pet.name}}</a></td>
            <td>{{pet.type}}</td>
            <td>{{pet.breed}}</td>
            <td>{{pet.dob}}</td>
            <td></td>
        </tr>

        <tr *ngIf="isPetForm">
            <td><input id="name" formControlName="name" /></td>
            <td><input id="type" formControlName="type" /></td>
            <td><input id="breed" formControlName="breed" /></td>
            <td><input id="dob" formControlName="dob" /></td>
            <td><input type="submit" value="Save" /></td>
        </tr>
    </table>
</form>